/* ===========
    Colors
============ */
/*  Primary  */
/*  Neutral  */
/* ==============
    Typography
=============== */
/*  Body Copy  */
/*  Font  */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
/*  Main  */
.container {
  background-color: #f8e9dd;
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  line-height: 1.5;
}

.sr-only {
  font-size: 0;
}

.card {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .card {
    width: 35vw;
  }
}

.balance {
  background-color: #ec775f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  color: #f8e9dd;
  padding-block: max(3vh, 1rem);
  padding-inline: max(2vw, 1rem);
}
.balance h2 {
  font-size: 1rem;
  font-weight: 400;
}
.balance .amt {
  display: block;
  font-size: clamp(1.13rem, 1.59vw + 0.73rem, 2rem);
  font-weight: 700;
  color: #fff;
}
.balance .logo {
  width: max(4.5vw, 3rem);
}

/*  Spending  */
.spending {
  background-color: white;
  margin-block: max(2vh, 1rem);
  padding-block: max(2vh, 1rem);
  padding-inline: max(2vw, 1rem);
  color: #382314;
  border-radius: 10px;
  overflow: hidden;
}
.spending h3 {
  font-size: clamp(1.13rem, 1.59vw + 0.73rem, 2rem);
}

.analysis {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
  /* Dsiplay popper & bar center at cross axis */
  /* Popper to be popped on hover */
  /* Popper animation */
}
.analysis > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.analysis .bar {
  width: max(3.2vw, 2.1rem);
  background-color: #ec775f;
  border-radius: 3px;
  text-align: center;
}
.analysis .bar + p {
  margin-block-start: 0.3rem;
  font-size: 1rem;
  color: rgba(56, 35, 20, 0.6);
}
.analysis .popper {
  border-radius: 4px;
  margin-bottom: 0.5rem;
  transform: scale(0);
  padding-inline: min(1.5vw, 0.5rem);
  padding-block: min(2vh, 0.1rem);
  background-color: black;
}
.analysis .popper .data {
  font-size: clamp(0.7rem, 0.55vw + 0.56rem, 1rem);
  font-weight: 700;
  color: white;
  text-align: center;
}
.analysis .animate-grow {
  animation-name: grow;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.analysis .animate-shrink {
  animation-name: shrink;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.analysis .mon {
  height: 3rem;
}
.analysis .tue {
  height: 6rem;
}
.analysis .wed {
  height: 9rem;
  background-color: #76b5bc;
}
.analysis .thu {
  height: 5rem;
}
.analysis .fri {
  height: 4rem;
}
.analysis .sat {
  height: 7rem;
}
.analysis .sun {
  height: 4rem;
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
/* Hover Effect to show data */
.bar:hover,
.bar:active {
  cursor: pointer;
  opacity: 0.7;
}

/* Line */
hr {
  margin: 2rem 0;
  background-color: #f8e9dd;
  border-width: 1.2px;
  border-style: solid;
  border-color: #f8e9dd;
  border-radius: 10px;
}
hr + p {
  font-size: 1rem;
  opacity: 0.6;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.total h4 {
  font-size: clamp(1.13rem, 3.41vw + 0.27rem, 3rem);
  font-weight: 700;
}
.total p {
  font-weight: 700;
  text-align: right;
  line-height: 1.2;
}
.total .month {
  display: block;
  font-weight: 400;
  opacity: 0.6;
}

/* Footer */
.attribution {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  font-size: 1.125rem;
}
.attribution a {
  text-decoration: none;
}

/*# sourceMappingURL=index.css.map */
