/* ===========
    Colors
============ */


/*  Primary  */

$soft-red: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);

/*  Neutral  */

$dark-brown: hsl(25, 47%, 15%);
$medium-brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$very-pale-orange: hsl(33, 100%, 98%);

/* ==============
    Typography
=============== */


/*  Body Copy  */

$font-size: 1.125rem;

/*  Font  */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
$font-family: "DM Sans",
sans-serif;
$fw-400: 400;
$fw-700: 700;

/*  Main  */

.container {
    background-color: $cream;
    font-family: $font-family;
    font-size: $font-size;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    line-height: 1.5;
}

.card {
    display: flex;
    flex-direction: column;
}

.balance {
    background-color: $soft-red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    color: $cream;
    padding: 1rem;
    h2 {
        font-size: 1rem;
        font-weight: $fw-400;
    }
    .amt {
        display: block;
        font-size: $font-size;
        font-weight: $fw-700;
        color: #fff;
    }
    .logo {
        width: 3rem;
    }
}


/*  Spending  */

.spending {
    background-color: white;
    margin: 1rem 0;
    padding: 1rem;
    color: $dark-brown;
    border-radius: 10px;
    overflow: hidden;
}

.analysis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    /* Dsiplay popper & bar center at cross axis */
    >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    .bar {
        width: 2.1rem;
        background-color: $soft-red;
        border-radius: 3px;
        font-size: 1rem;
        text-align: center;
        +p {
            font-size: 1rem;
            color: rgba($dark-brown, 0.6);
        }
    }
    /* Popper to be popped on hover */
    .popper {
        border-radius: 4px;
        margin-bottom: 0.5rem;
        transform: scale(0);
        padding: {
            top: 0.1em;
            right: 0.45em;
            bottom: 0.1em;
            left: 0.45em;
        }
        background-color: black;
        text-align: center;
        .data {
            font-size: 0.7rem;
            font-weight: $fw-700;
            color: white;
        }
    }
    /* Popper animation */
    .animate-grow {
        animation-name: grow;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
    .animate-shrink {
        animation-name: shrink;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
    .mon {
        height: 3.5rem;
    }
    .tue {
        height: 7rem;
    }
    .wed {
        height: 10rem;
        background-color: $cyan;
    }
    .thu {
        height: 6rem;
    }
    .fri {
        height: 4.5rem;
    }
    .sat {
        height: 8rem;
    }
    .sun {
        height: 5rem;
    }
}

@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes shrink {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}


/* Hover Effect to show data */

.bar:hover,
.bar:active {
    cursor: pointer;
    opacity: 0.7;
}


/* Line */

hr {
    margin: 2rem 0;
    background-color: $cream;
    border: {
        width: 1.2px;
        style: solid;
        color: $cream;
        radius: 10px;
    }
    +p {
        font-size: 1rem;
        opacity: 0.6;
    }
}

.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h4 {
        font-size: calc($font-size + 0.85rem);
        font-weight: $fw-700;
    }
    p {
        font-weight: $fw-700;
        text-align: right;
        line-height: 1.2;
    }
    .month {
        display: block;
        font-weight: $fw-400;
        opacity: 0.6;
    }
}