/* ===========
    Colors
============ */


/*  Primary  */

$soft-red: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);

/*  Neutral  */

$dark-brown: hsl(25, 47%, 15%);
$medium-brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$very-pale-orange: hsl(33, 100%, 98%);

/* ==============
    Typography
=============== */


/*  Body Copy  */

$font-size: 1.125rem !important;

/*  Font  */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
$font-family: "DM Sans",
sans-serif;
$fw-400: 400;
$fw-700: 700;

/*  Main  */

.container {
    background-color: $cream;
    font-family: $font-family;
    font-size: $font-size;
    padding: 5rem 2rem;
    min-height: 100vh;
    line-height: 1.5;
}

.card {
    display: flex;
    flex-direction: column;
}

.balance {
    background-color: $soft-red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    color: $cream;
    padding: 1rem;
    h2 {
        font-size: 1rem;
        font-weight: $fw-400;
    }
    span {
        display: block;
        font-size: $font-size;
        font-weight: $fw-700;
        color: #fff;
    }
    .logo {
        width: 3rem;
    }
}

.spending {
    background-color: white;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
}