/* ===========
    Colors
============ */


/*  Primary  */

$soft-red: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);

/*  Neutral  */

$dark-brown: hsl(25, 47%, 15%);
$medium-brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$very-pale-orange: hsl(33, 100%, 98%);

/* ==============
    Typography
=============== */


/*  Body Copy  */

$font-size: 1.125rem;

/*  Font  */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
$font-family: "DM Sans",
sans-serif;
$fw-400: 400;
$fw-700: 700;

/*  Main  */

body {
    background-color: $cream;
}

.container {
    font-family: $font-family;
    font-size: $font-size;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    line-height: 1.5;
}

.sr-only {
    font-size: 0;
}

.card {
    display: flex;
    flex-direction: column;
    @media (min-width: 992px) {
        width: calc(100vw + -65vw);
    }
}

.balance {
    background-color: $soft-red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    color: $cream;
    padding-block: max(3vh, 1rem);
    padding-inline: max(2vw, 1rem);
    h2 {
        font-size: 1rem;
        font-weight: $fw-400;
    }
    .amt {
        display: block;
        font-size: clamp(1.13rem, 1.59vw + 0.73rem, 2rem);
        font-weight: $fw-700;
        color: #fff;
    }
    .logo {
        width: max(4.5vw, 3rem);
    }
}


/*  Spending  */

.spending {
    background-color: white;
    margin-block: max(2vh, 1rem);
    padding-block: max(2vh, 1rem);
    padding-inline: max(2vw, 1rem);
    color: $dark-brown;
    border-radius: 10px;
    overflow: hidden;
    h3 {
        font-size: clamp(1.13rem, 1.59vw + 0.73rem, 2rem);
    }
}

.analysis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    /* Dsiplay popper & bar center at cross axis */
    >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    .bar {
        width: max(3.2vw, 2.1rem);
        background-color: $soft-red;
        border-radius: 3px;
        text-align: center;
        +p {
            margin-block-start: 0.3rem;
            font-size: 1rem;
            color: rgba($dark-brown, 0.6);
        }
    }
    /* Popper to be popped on hover */
    .popper {
        border-radius: 4px;
        margin-bottom: 0.5rem;
        transform: scale(0);
        padding-inline: min(1.5vw, 0.5rem);
        padding-block: min(2vh, 0.1rem);
        background-color: black;
        .data {
            font-size: clamp(0.7rem, 0.55vw + 0.56rem, 1rem);
            font-weight: $fw-700;
            color: white;
            text-align: center;
        }
    }
    /* Popper animation */
    .animate-grow {
        animation-name: grow;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
    .animate-shrink {
        animation-name: shrink;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
    .mon {
        height: 3rem;
    }
    .tue {
        height: 6rem;
    }
    .wed {
        height: 9rem;
        background-color: $cyan;
    }
    .thu {
        height: 5rem;
    }
    .fri {
        height: 4rem;
    }
    .sat {
        height: 7rem;
    }
    .sun {
        height: 4rem;
    }
}

@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes shrink {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}


/* Hover Effect to show data */

.bar:hover,
.bar:active {
    cursor: pointer;
    opacity: 0.7;
}


/* Line */

hr {
    margin: 2rem 0;
    background-color: $cream;
    border: {
        width: 1.2px;
        style: solid;
        color: $cream;
        radius: 10px;
    }
    +p {
        font-size: 1rem;
        opacity: 0.6;
    }
}

.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h4 {
        font-size: clamp(1.13rem, 3.41vw + 0.27rem, 3rem);
        font-weight: $fw-700;
    }
    p {
        font-weight: $fw-700;
        text-align: right;
        line-height: 1.2;
    }
    .month {
        display: block;
        font-weight: $fw-400;
        opacity: 0.6;
    }
}


/* Footer */

.attribution {
    font-family: $font-family;
    text-align: center;
    font-size: $font-size;
    a {
        text-decoration: none;
    }
}